repo="Core_RNAseq-nf"

executor {
    name   = 'local'
    cpus   = 8
    memory = '40GB'
    queueSize = 1
}

params {
   data="/mnt/facilitydata/zamanian/data_BRC/Zamanian/"
   output="/home/BIOTECH/zamanian/GitHub/${repo}/output/"
   aux="/home/linuxbrew/nextflow/${repo}/auxillary/"

   genomes="/mnt/genomes/"
   data2="/home/BIOTECH/zamanian/data/"

   big=8
   small=8
}

timeline {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_report.html"
}
trace {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_trace.txt"
}
