repo="Core_RNAseq-nf"

params {

   data="/mnt/facilitydata/zamanian/data_BRC/Zamanian/"
   data2="/home/BIOTECH/zamanian/data/"
   output="/home/BIOTECH/zamanian/GitHub/${repo}/output/"
   aux="/home/linuxbrew/nextflow/${repo}/auxillary/"

   genomes="/mnt/genomes/"

   large_core=7
   small_core=3

}
