repo="Core_RNAseq-nf"

executor {
    name   = 'local'
    cpus   = 8
    memory = '40GB'
}

params {

   data="/mnt/facilitydata/zamanian/data_BRC/Zamanian/"
   data2="/home/BIOTECH/zamanian/data/"
   output="/home/BIOTECH/zamanian/GitHub/${repo}/output/"
   aux="/home/linuxbrew/nextflow/${repo}/auxillary/"
   trace="$PWD/trace/"
   genomes="/mnt/genomes/"

   large_core=8
   small_core=4

}

timeline {
  enabled = true
  file = "${params.trace}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.trace}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.trace}/execution_trace.txt"
}
