repo="Core_RNAseq-nf"

executor {
    name   = 'local'
    cpus   = 8
    memory = '20GB'
    queueSize = 1
}

params {

   data="$PWD/data"
   output="$PWD/output"
   trace="$PWD/trace"

   aux="$PWD/${repo}/auxillary"

   large_core=8
   small_core=4

}

timeline {
  enabled = true
  file = "${params.trace}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.trace}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.trace}/execution_trace.txt"
}
