repo="Core_RNAseq-nf"

executor {
    name   = 'local'
    cpus   = 4
    memory = '8GB'
    queueSize = 2
}

params {
   data="$PWD/data"
   output="$PWD/output"
   aux="$PWD/${repo}/auxillary"

   big=2
   small=2
}

timeline {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_report.html"
}
trace {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_trace.txt"
}
