repo="Core_RNAseq-nf"

executor {
    name   = 'local'
    cpus   = 48
    memory = '256GB'
    queueSize = 1
}

params {
   data="$PWD/data"
   output="$PWD/output"
   aux="$PWD/${repo}/auxillary"

   big=12
   small=6
}

timeline {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_report.html"
}
trace {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_trace.txt"
}
