repo="Core_RNAseq-nf"

executor {
    name   = 'local'
    cpus   = 80
    memory = '500GB'
    queueSize = 20
}

params {
   input="$PWD/input"
   output="$PWD/output"
   aux="$PWD/${repo}/auxillary"

   big=16
   small=8
}

timeline {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_report.html"
}
trace {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_trace.txt"
}
