repo="Core_RNAseq-nf"

executor {
    name   = 'local'
    cpus   = 4
    memory = '16GB'
    queueSize = 4
}

params {
   input="$PWD/input"
   output="$PWD/output"
   aux="$PWD/${repo}/auxillary"

   big=4
   small=2
}

timeline {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_report.html"
}
trace {
  enabled = true
  file = "${params.output}/${params.dir}/trace/execution_trace.txt"
}
